.editor {
    height: 100vh;
}
.sidebar {
    background-color: var(--sidebar-background);
    min-width: var(--sidebar-width);
    height: 100%;
    padding: 20px;
}
.visuals {
    padding: 100px 150px;
    width: 100%;
}

.header {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    color: var(--text-muted);
}
.sidebar svg, .sidebar .chart {
    width: 50px !important;
    height: 30px;
}
.sidebar-values {
    margin-top: 50px;

    .button {
        font-size: 13px;
        color: var(--text-muted);
    }
}
.sidebar .value-inputs:not(:first-of-type) input {
    margin-top: 12px;
}
.value-inputs {
    input {
        border-radius: 5px !important;
    }
    .input:first-of-type input {
        width: 50px;
        text-align: center;
        margin-right: 8px;
    }
}

.download-chart {
    position: absolute;
    bottom: 15px;
    right: 15px;
}