* {
  box-sizing: border-box;
}

:root {
  --primary-background: #0e1015;
  --secondary-background: #181b24;
  --dropdown-background: #1b1f29;
  --third-background: #1b1f2a;
  --sidebar-background: #0c0e13;
  --input-background: #191b25;
  --primary-color: #dd364d;
  --border-radius: 8px;
  --primary-text: #fff;
  --text-muted: #949494;
  --sidebar-width: 300px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

a {
  text-decoration: none;
  color: inherit;
}